## .NET ##
*.swp
*.[Cc]ache
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio Code
.vscode/

# Rider
.idea/

# NuGet
[Nn]u[Gg]et/
*.nupkg
packages/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Local File for Microsoft Secrets Manager
secrets.json

## .NET Core ##
**/.localhistory/